

:root{
  --background:white;
  --primary-text-color:black;
}

*,
*::before,
*::after{

  box-sizing: border-box;
}

body{
  margin:0;
  
}
header{
  background-color:var(--background);
  border: 2px solid orange;
  text-align: center;
  position: fixed;
  z-index:999;
  width:100%;
  
  
}

nav{
 position:absolute;
 border: 2px solid green;
 text-align: left;
 top:100%;
 left:0;
 background-color: var(--background);
 width: 100%;;
}

nav ul{
  border: 2px solid red;
  padding:0;
  margin:0;
  list-style: none; 
}

nav li{
  border: 2px solid cyan;
  margin-left:1em;
  margin-bottom:1em;
}

nav a{
  color:var(--primary-text-color);
  text-decoration:none;
  text-transform: uppercase;
  font-size:1.2rem;
}

nav a:hover{
 
}