

/* *,
*::before,
*::after{

  box-sizing: border-box;
} */

body{
  margin:0;
  
}
header{
  background-color: rgb(5, 18, 24);
  border: 2px solid orange;
  text-align: center;
  position: fixed;
  z-index:999;
  width:100%;
  color:white;
}

nav{
 position:absolute;
 border: 2px solid green;
 text-align: left;
 top:100%;
 left:0;
}

nav ul{
  border: 2px solid red;
  padding:0;
  margin:0;
  list-style: none; 
}

nav ul li{
  border: 2px solid cyan;
  
}